.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.profile-img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  margin-top: 5rem;
}

.menu-link {
  color: #654062;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.25em;
  padding: 0.25rem;
  margin: 1rem;
  transition: all 50ms linear;
  border-bottom: #654062 0px solid;
}

.menu-link:hover {
  color: #86aba1;
}

.menu-link:active {
  color: #5f867c;
}
