@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;1,100&display=swap');

/*** ELEMENT ***/

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ffe9d6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #654062;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: #86aba1;
}

/*** CLASS ***/

.wrapper-grid {
  margin: 0;
  border: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/*** ID ***/

#component-root {
  padding: 0.5rem;
  margin-right: 1rem;
}

#nav {
  margin: 2rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: #f9f3ed;
  text-align: center;
  align-self: center;
}
